    body {
        background-color: #022420;
        /* background-size: 100% 150%; */
        background-image: linear-gradient(#faf2f3, #ec0625);
    }
    
    #table {
        margin: 0 auto;
    }
    
    @media screen and (max-width: 900px) {
        .mainmain {
            width: 100%;
        }
    }
    
    @keyframes mymove {
        from {
            top: 0px;
        }
        to {
            top: 10px;
        }
    }
    
    @keyframes mymove2 {
        from {
            top: 0px;
        }
        to {
            top: 30px;
        }
    }
    
    #main {
        margin: auto;
        margin-top: 10px;
        width: 25%;
        background-color: #faecee;
        border-radius: 20px;
        box-shadow: 2px 2px 4px black;
        animation: mymove2 forwards;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        position: relative;
        margin-bottom: 70px;
    }
    /* #main:hover {
    margin: auto;
    margin-top: 10px;
    width: 25%;
    background-color: #E8FFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
    transform: translate(-1px, -1px);
    transition: 0.3s;
    margin-bottom: 70px;
} */
    
    #login {
        margin-top: 30px;
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
        font-family: arial;
    }
    
    #Email {
        width: 300px;
        height: 40px;
        margin-top: 0px;
        font-size: large;
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
        outline: none;
    }
    
    #Email:focus {
        width: 300px;
        height: 40px;
        margin-top: 0px;
        font-size: large;
    }
    
    #Email:focus::placeholder {
        transform: translate(-0px, -50px);
        transition: 0.2s;
    }
    
    #passtd {
        padding-top: 15px;
    }
    
    #Pass {
        width: 300px;
        height: 40px;
        font-size: large;
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
        outline: none;
    }
    
    #Pass:focus {
        width: 300px;
        height: 40px;
        font-size: large;
    }
    
    #Pass:focus::placeholder {
        transform: translate(-0px, -50px);
        transition: 0.2s;
    }
    
    #button1 {
        padding-top: 50px;
        text-align: center;
    }
    
    #button2 {
        text-align: center;
        padding-bottom: 30px;
    }
    
    #button3 {
        padding-bottom: 30px;
        text-align: center;
    }
    
    #button4 {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    
    .button {
        width: 220px;
        background-color: #dc3545;
        border: none;
        color: black;
        padding: 10px 67px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 30px;
        font-size: larger;
        font-weight: bolder;
    }
    
    .button:hover {
        width: 220px;
        background-color: #d6737d;
        border: none;
        color: black;
        padding: 10px 67px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        font-size: larger;
        font-weight: bolder;
        transform: translate(-1px, -1px);
        transition: 0.2s;
    }
    
    #buttonlog {
        width: 220px;
        background-color: #dc3545;
        border: none;
        color: black;
        padding: 10px 67px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 30px;
        font-size: larger;
        font-weight: bolder;
    }
    
    #buttonlog:disabled {
        width: 220px;
        background-color: #878d8c;
        border: none;
        color: black;
        padding: 10px 67px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 30px;
        font-size: larger;
        font-weight: bolder;
    }
    
    #buttonlog:disabled:hover {
        width: 220px;
        background-color: #878d8c;
        border: none;
        color: black;
        padding: 10px 67px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        font-size: larger;
        font-weight: bolder;
        transform: translate(0px, 0px);
        transition: 0.1s;
    }
    
    #buttonlog:hover {
        width: 220px;
        background-color: #d6737d;
        border: none;
        color: black;
        padding: 10px 67px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        font-size: larger;
        font-weight: bolder;
        transform: translate(-1px, -1px);
        transition: 0.2s;
    }
    
    #forgot {
        text-align: right;
        font-family: "Roboto", "Segoe UI", Arial, sans-serif;
        padding-top: 15px;
        color: #022420;
        display: block;
        float: right;
        text-decoration: none;
    }
    
    #forgot:hover {
        color: #ff0000;
    }
    
    .home {
        float: right;
        text-align: center;
        font-family: "Roboto", "Segoe UI", Arial, sans-serif;
        padding: 5px;
        color: #022420;
        text-decoration: none;
        display: block;
        margin-bottom: 5px;
    }
    
    .home:hover {
        color: #ff0000;
    }
    
    #remembertd {
        padding-top: 15px;
        font-family: Arial;
    }
    
    input[type=checkbox] {
        transform: scale(1.5);
    }
    
    .inputstd {
        padding-top: 15px;
    }
    
    .inputs {
        width: 300px;
        height: 40px;
        margin-top: 0px;
        font-size: large;
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
        outline: none;
    }
    
    .inputs:focus::placeholder {
        transform: translate(-0px, -50px);
        transition: 0.1s;
    }